.blinking {
    width: 100px;
    height: 100px;
    background-color: yellow;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
}

/* Div moving left to right */
.movingDiv {
    width: 161px;
    height: 100px;
    margin-top: 50px;
    background-color: orange;
    position: relative;
    animation: moveLeftToRight 4s infinite;
}

@keyframes moveLeftToRight {
    0% {
        left: 0;
    }
    100% {
        /* left: 100vw; */
        left:700px;
    }
}

/* Circle moving in a square path */
.circlePath {
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
    animation: circleMovement 8s infinite;
}

@keyframes circleMovement {
    0% {
        transform: translate(0, 0);
    }
    25% {
        transform: translate(40vw, 0);
    }
    50% {
        transform: translate(40vw, 40vh);
    }
    75% {
        transform: translate(0, 40vh);
    }
    100% {
        transform: translate(0, 0);
    }
}


.header {
    font-size: 2rem;
    text-align: center;
    animation: headerAnimation 8s infinite;
}

@keyframes headerAnimation {
    0% {
        color: blue;
        font-size: 2rem;
    }
    33% {
        color: #00b5b5; /* Bluish-green */
        font-size: 2.5rem;
    }
    66% {
        color: green;
        font-size: 3rem;
    }
    100% {
        color: lightgreen;
        font-size: 3.5rem;
    }
}

/* Basic body styling */
body {
    margin: 0;
    height: 100vh;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.normal{
    height: 400px;
    width: 400px;
    background-color: lightblue;
    animation: normalanimation 7s infinite;
    margin: 50px;
}

@keyframes normalanimation{
    0%{
        background-color: lightblue;
        opacity:0.7;
    }
    100%{
        background-color:blue;
        opacity: 1;
    }
}